async-timeout==4.0.3
AwesomeTkinter==2021.11.8
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.0
CTkMessagebox==2.5
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.3.1
defusedxml==0.7.1
fonttools==4.49.0
future==0.18.3
httpie==3.2.2
idna==3.6
ifaddr==0.2.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.3
mdurl==0.1.2
multidict==6.0.5
numpy==1.26.4
packaging==23.2
pillow==10.2.0
Pygments==2.17.2
pyparsing==3.1.1
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-tkdnd==0.2.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.0
six==1.16.0
tk==0.1.0
ttkwidgets==0.13.0
typing_extensions==4.4.0
urllib3==2.2.0
